@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Address:<br />
    Rio de Janeiro - RJ<br />
    <p title="Phone">WhatsApp: 21 97916-7300</p>
</address>

<address>
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/alex-alle/">Alex Alle</a><br />
    <strong>Email:</strong> <a href="mailto:alex.alle192@gmail.com">alex.alle192@gmail.com</a>
</address>
